body {
    background-color: #D1E8E4;
}

h1 {
    color: #0071c2;
  }

.container {

    display: flex;
    justify-content: center;
    background-color: #D1E8E4;
    
  
  }
  
  .flat {
  
    margin: 10px;
  
  }
  
  
  .btn {
  
    display: flex;
    justify-content: space-between;
    border: 1px solid transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #fff;
    background-color: #0071c2;
    padding: 10px;
  
  }

 